<!DOCTYPE html>
<html>
<head>
    <title> CRM for CFC </title>
</head>

<body>

  <h1> CLIENT </h1>
  <p> Client Update Form </p>
    <form action = "http://localhost:5000/updateclient" method = "POST">
      <p>Category <input type = "text" name = "Category" /></p>
      <p>Name <input type = "text" name = "Name" /></p>
      <p>Province <input type = "text" name = "Province" /></p>
      <p>Size<input type ="text" name = "Size" /></p>
      <p>Total Assets<input type ="text" name = "Total Assets" /></p>
      <p>Total Tax Receipted Gifts<input type ="text" name = "Total Tax Receipted Gifts" /></p>
      <p>Main Contact Name<input type ="text" name = "Main Contact Name" /></p>
      <p>Contact Details<input type ="text" name = "Contact Details" /></p>
      <p><input type = "Submit" value = "Submit" /></p>
    </form>


</body>

</html>